$primary-color: #8257e5;
$secondary-color: #04d361;
$primary-white: #ffffff;
$secondary-white: #e8eeef;
$black-blue: #15102e;
$black: #1a1b1d;
$blue: #0055ff;
$light-blue:  #00f2ff;
$dark-blue: #183f61;
$grey: #888;
$red: #ff0000;
$btn-duration-slow: 2s;
$btn-duration-normal: 3s;
$btn-duration-fast: 5s;
$btn-default-color: #7cfc00;
$btn-blue-color: #00bcd4;
$btn-purple-color: #772aff;