@import "/src/assets/scss/variables.scss";
@import "/src/assets/scss/mixins.scss";

.header-container {
  @include fullSize;
  @include center;
  background: linear-gradient(-45deg, #83ff75, #5a3a86, #747474);
  gap: 50px;
  padding: 20px 0;
}

.search-container {
  @include fullSize;
  @include end;

}

.search-input {
  height: 35px;
  margin-right: 180px;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: $primary-white;
  margin-top: 10px;
}

button > .mat-icon {
  position: relative;
  top: 5px;
  margin: 0 auto;
}

.header-container,
table {
  width: 100%;
}

.table-container {
  background-color: #1c2536;
  color: $primary-white;
}
.table-container td,
.container th {
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
}

.table-container tr:nth-child(odd) {
  background-color: #323c50;
}

.table-container tr:nth-child(even) {
  background-color: #2c3446;
}

.table-container th {
  background-color: #1f2739;
}

.table-container td:first-child {
  color: #fb667a;
}
.table-container tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.table-container td:hover {
  background-color: #00ff04;
  color: #403e10;
  
  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
    transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: line;
}

th {
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
}

.modal {
  @include fullSize;
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: $black;
}

.search-container > input::placeholder {
  color: $black;
  text-align: left;
}

.search-container > input:focus {
  outline: none;
}

.logout-btn {
  background: linear-gradient(-45deg, #833ab4, #fd1d1d, #fcb045);
}

.add-btn {
  background: linear-gradient(-45deg, #00f260, #0575e6);
}

.btn {
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 6px;
  background-size: 400% 400%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 13px 60px;
  margin-left: 10px;
  font-size: 15px;
  animation: Gradient 10s ease infinite;

  &:hover {
    background-size: 150% 150%;
    transform: scale(1.1);
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
