@import '/src/assets/scss/variables.scss';

.btn {
  padding: 8px 15px;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 10px;
  color: $primary-white;
  background-color: $secondary-color;
  border-color: $dark-blue;
	margin-left: 10px;
  &:hover {
		cursor: pointer;
		transform: scale(1.1);
  }
}
