<div class="page-container">
  <div class="left-column">
    <img class="left-img" src="assets/images/bg-img.png" alt="" />
  </div>
  <div class="right-column">
    <h1 class="tree-title">Tree Inova</h1>
    <form [formGroup]="loginForm" class="form-home">
      <label>* e-mail</label>
      <input
        formControlName="email"
        name="email"
        placeholder="Seu e-mail"
        type="text"
      />
      <label>* senha</label>
      <input
        formControlName="senha"
        type="text"
        name="senha"
        placeholder="Sua senha"
      />
      <a class="forgot-password" href="#">Esqueceu sua senha?</a>

      <button (click)="onSubmit()" class="login-btn" type="submit">
        entrar
      </button>
    </form>
  </div>
</div>
