<form
  [formGroup]="cadastroForm"
  (ngSubmit)="onSubmit()"
  class="form"
  autocomplete="off"
  type="submit"
>
  <app-input
    [formGroup]="cadastroForm"
    formControlName="nome"
    [label]="'Nome'"
    [required]="true"
    ngDefaultControl
    placeholder="Digite seu nome"
  ></app-input>
  <app-input
    [formGroup]="cadastroForm"
    formControlName="sobrenome"
    [label]="'Sobrenome'"
    [required]="true"
    ngDefaultControl
    placeholder="Digite seu sobrenome"
  ></app-input>

  <app-input
    [formGroup]="cadastroForm"
    formControlName="email"
    [label]="'E-mail'"
    [required]="true"
    ngDefaultControl
    placeholder="Digite seu e-mail"
  ></app-input>

  <app-input
    [formGroup]="cadastroForm"
    formControlName="telefone"
    [label]="'Telefone'"
    [required]="true"
    ngDefaultControl
    placeholder="(00) 00000-0000"
    mask="(00) 00000-0000"
  ></app-input>

  <app-input
    [formGroup]="cadastroForm"
    formControlName="senha"
    [label]="'Senha'"
    [required]="true"
    ngDefaultControl
    placeholder="Digite sua senha"
  >
  </app-input>

  <div formGroupName="endereco" class="form">
    <label>CEP</label>
    <input
      formControlName="cep"
      required
      mask="00000-000"
      placeholder="Ex. 00000-000"
      (blur)="pesquisaCEP($event)"
    />

    <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>

    <label>Endereço</label>
    <input required formControlName="logradouro" />

    <label>Bairro</label>
    <input required formControlName="bairro" />

    <label>Número</label>
    <input formControlName="numero" required />

    <label>Cidade</label>
    <input required formControlName="localidade" />

    <label>Estado</label>
    <input required formControlName="uf" />
  </div>

  <div class="footer-btns">
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>save</mat-icon> Salvar
    </button>
    <button mat-raised-button color="warn">
      <mat-icon>close</mat-icon>Cancelar
    </button>
  </div>
</form>
